h1{
    text-align: center;
}
#container{
    display: table;
    margin: 0 auto;
}

.row{
    /* border: 5px solid black; */
    display: flex;
    row-gap: 5px;
}

.box{
    border: 1px solid black;
    display: flex;
    column-gap: 5px;
    /* padding: 20px; */
    width: 30px;
    height: 27px;
    /* background-color: aqua; */
}

.blackTest{
    background-color: black;
}

#colorPicker{
    /* margin-left: 433px; */
}

#buttons{
    text-align: center;
}
